<ion-header>
  <ion-navbar>
    <ion-title>Reuniões</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" *ngIf="isAdmin" (click)="goToNewMeetingPage()">Nova</button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="serachMeetings($event)" placeholder="Buscar reunião"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let meeting of meetingsFound" (click)="showMeeting(meeting)">
    <img src="http://via.placeholder.com/350x160" />
    <ion-card-content>
      <ion-card-title>
        <ion-row justify-content-between>
          {{ meeting.name }}
        </ion-row>
      </ion-card-title>
      <p>{{ concatDays(meeting.days) }} - {{ meeting.time }}</p>
      <p>{{ truncate(meeting.location.display_name) }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>