<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="abort()">Cancelar</button>
    </ion-buttons>
    <ion-title>Selecionar Local</ion-title>
    <ion-buttons end>
      <button ion-button (click)="confirmPlace()">Confirmar</button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="searchPlace($event)" placeholder="Buscar local..."></ion-searchbar>

</ion-header>


<ion-content padding>
  <div id="select-map"></div>
  <div *ngIf="place">
    <h4>Local Selecionado: </h4>
    <p>{{ place.display_name }}</p>
  </div>
  <ion-list *ngIf="placesFound" radio-group [(ngModel)]="place">
    <ion-list-header>Locais encontrados:</ion-list-header>
    <ion-item class="places" *ngFor="let place of placesFound">
      <ion-label>{{ place.display_name }}</ion-label>
      <ion-radio [value]="place" (ionSelect)="selectPlace($event)"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>