page-new-meeting {
  display: flex;
  justify-content: center;

  #map {
    top: 1rem;
    height: 250px;
    width: 100%;
    margin-bottom: 10px;
  }

  .place-name {
    text-align: justify;
  }

  img {
    height: 250px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
